<h2>獎券列表</h2>

<div>
  <% if @lotteries.presence %>
    <table>
      <thead>
        <tr>
          <th>標題</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @lotteries.each do |lottery| %>
          <tr>
            <td><%= lottery.id %></td>
            <td><%= lottery.rate %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h3>尚未有獎券</h3>
  <% end %>
</div>

<div>
  <%= link_to '建立新獎券', new_lottery_table_lottery_path %>
</div>
