<h2>新增</h2>

<%= form_with(model: Lottery.new,
              url: lottery_table_lotteries_path(@lottery_table),
              local: true) do |form| %>

  <div class="field">
    <%= form.label :rate %>
    <%= form.text_area :rate, id: :lottery_rate %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: :lottery_amount, min: 1, step: 1, value: 1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
