<h2>一番賞列表</h2>

<div>
  <% if @lottery_tables.presence %>
    <table>
      <thead>
        <tr>
          <th>標題</th>
        </tr>
      </thead>
      <tbody>
        <% @lottery_tables.each do |table| %>
          <tr>
            <td><%= link_to table.title, lottery_table_lotteries_path(table) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h3>尚未有抽獎</h3>
  <% end %>
</div>

<div>
  <%= link_to '建立新獎單', new_lottery_table_path %>
</div>
