<h2>新增</h2>

<%#= render 'form', lottery_table: @lottery_table %>

<%= form_with(model: @lottery_table) do |form| %>
  <% if @lottery_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lottery_table.errors.count, "error") %> prohibited this @lottery_table from being saved:</h2>

      <ul>
      <% @lottery_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, id: :lottery_table_title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
